modules = ["nodejs-18", "bash"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]

[[workflows.workflow]]
name = "Development"
author = 45971741
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"


