modules = ["nodejs-18", "bash"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "node enhanced_bot_v4.js"]

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Development"
author = 45971741
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Bot"
author = 45971741
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node enhanced_bot_v4.js"


